body{
    font:  14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
 }
 li{
     list-style: none;
 }
 .content-detail{
     width: 100%;
     height: 2000px;
     border: 1px solid red;
     background: #f5f5f5
 }
.title-top{
    background: #fff;
    border-top: 1px solid #a8a4a4;
    box-shadow: 0 6px 20px rgba(0,0,0,.25);
}

 .top_title{
     width: 100%;
     height:63px;
     z-index: 50;
     /*position: fixed;*/
     border-top: 1px solid  #c4bfbf;
     box-shadow: 0 1px 1px rgba(0,0,0,.25);
     background: #fff;
 }
 .top_title_detail{
     width: 1226px;
     height: 63px;
     margin: 0 auto;
     
 }
 .title_youth{
     margin: 0;
     font-size: 18px;
     font-weight: 400;
     line-height: 60px;
     color: #212121;
     float: left;
 }
 .title_rigth{
     width: 270px;
     height: 30px;
 
     float: right;
     margin-top: 15px;
 }
 .title_rigth>ul>li:not(.goumai){
    float: left;
    list-style: none;
    line-height: 2;
    margin-left: 8px;
}
.title_rigth>ul>li>a{
    color: #333;
    font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.title_rigth>ul>li>a:hover{
    color: #f25807;
}
.font_color{
    color: #f25807 !important;
}
.title_rigth>ul>li>a>span{
    color: #a8a4a4
}
/*提示未登录*/
.alert-login{
    width: 1224px;
    height: 49px;
    margin: 0 auto;
    text-align: center;
    line-height: 48px;
    color: #333;
}
.alert-login>a{
    color: #f25807;
    padding-left: 10px;
    padding-right: 5px;
}
.alert-login>span{
    color: #a8a4a4;
    cursor:pointer
}
/**-------------------------------------**/
.box{
    width: 100%;
    height: 1602px;
    border: 1px solid red;
    background: #fff;
}
.pro-choose-main{
    width: 1224px;
    height: 1554px;
    border: 1px solid red;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 12px;
    position: relative;
}
/******轮播图***/
#container_img{
    /*width:56px;
    height:560px;
    position:relative;
    overflow:hidden;
    /*border-radius:10px;
    margin: 0 auto;*/
    width: 606px;
    height: 600px;
    margin-left: 0;
    float: left;
    border:1px solid  red;
    position:relative;
}
.item{
	position:absolute;
}
 
#tabs{
	position:absolute;
    text-align: center;
    width: 400px;
    bottom:20px;
    left: 50%;
    margin-left: -150px;
}
.tab{
	float:left;
	margin-right:10px;
	width:50px;
	height:2px;
	border:1px solid rgba(184,178,182,.8);
	background:#989196;
    cursor:pointer;
    list-style: none;
}
.active{
	background:#fff;
	border-color:#999497;
}
.btn{
	position:absolute;
	top:50%;
	margin-top:-35px;
	width:40px;
	height:70px;
	color:#d6d3d5;
	font-size:36px;
	line-height:70px;
	text-align:center;
	cursor:pointer;
}
.btn:hover{
	background:rgba(121, 118, 119, 0.274);
}
.prev{
	position:absolute;
	left:0px;
	border-radius:0 5px 5px 0;	
}
.next{
	position:absolute;
	right:0;
	border-radius:5px 0 0 5px;
}



/*****详情表****/
.pro-info{
    width: 604px;
    height: 1509px;
    border: 1px solid red;
    float: right;
}
.pro-title{
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    color: #212121;
}
.sale-desc{
    color: #b0b0b0;
    margin: 0;
    padding: 0;
    padding-top: 8px
}
.aftersale{
   margin-top: 14px;
}
.pro-price,.flow-wrap{
    font-size: 18px;
    line-height: 1;
    color: #ff6700;
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 0 20px;
}
.flow-wrap{
    font-size: 14px;
    line-height: 2;
    color: #333;
}
.flow-tag{
    display:inline-block;
    width: 80px;
    height: 25px;
    padding: 2px 0;
    text-align: center;
    background: #ff6700;
    color: #fff;
}
.J_main{
    width: 606px;
    height: 1258px;
    border: 1px solid black;
    position: relative;
}
.address-wrap{
    margin-top: 40px;
    margin-bottom: 40px;
}
.user-default-address{
    background: #fafafa;
    border: 1px solid #e0e0e0;
    padding-left: 55px;
    padding: 30px 40px 30px 32px;
    position: relative;
    width: 530px;
    height: 42px;
}
.icon-img{
   width: 30px;
   height: 40px;
   position: absolute;
   top:60px;
   left: 5px;
   z-index:10;
}
.user-default-address>span{
    display: inline-block;
    margin-left: 14px;
}
#modify{
    line-height: 1;
    color: #ff6700;
    cursor: pointer
}
.space-title{
    line-height: 1;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 10px;
}
/**规格**/
.step-list{
    width: 612px;
    height: 119px;
    border: 1px solid red;
}
.step-list>li{
    margin-left: 6px;
    margin-top: 15px;
    line-height: 42px;
    height: 42px;
    width: 298px;
    border: 1px solid #989196;
    float: left;
}
.step-list>li>a{
    display: block;
    width: 298px;
    height: 57px;

}
.step-list>li>a .name{
    width: 170px;
     overflow: hidden;
     display: inline-block;
    font-size: 16px;
    float: left;
    color:#333;
    margin-left: 5px;
}
.step-list>li>a .price{
    display: inline-block;
     width: 60px;
    line-height: 42px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}
/**激活字体颜色++++边框**/
.step-list-active{
     color: #f25807 !important;
}
.step-list-border{
     border: 1px solid #f25807 !important;
}
/******选择颜色*******/
 .step-color{
     width: 612px;
     border: 1px solid red; 
 }
 .step-color>ul>li{
    margin-left: 6px;
    margin-top: 15px;
    line-height: 42px;
    height: 42px;
    width: 298px;
    border: 1px solid #989196;
    float: left;
    text-align: center;
 }
 .step-color-img{
     width: 20px;
     height: 20px;
     vertical-align: middle;
 }
 .liaojie{
     display: inline-block;
     height: 18px;
     float: right;
     font-size: 12px;
     margin-right: 5px;
     line-height: 1.5;
     color:#f25807;
 }